In [10]:
%reload_kedro

2023-07-26 09:21:33,635 - kedro.extras.extensions.ipython - INFO - No path argument was provided. Using: /Users/gpalazzo/Desktop/dev/mba_Otavio
2023-07-26 09:21:33,759 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2023-07-26 09:21:33,863 - kedro.extras.extensions.ipython - INFO - ** Kedro project itaete_buy_prop
2023-07-26 09:21:33,863 - kedro.extras.extensions.ipython - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`
2023-07-26 09:21:33,870 - kedro.extras.extensions.ipython - INFO - Registered line magic `run_viz`

In [11]:
mt = catalog.load("master_table")

2023-07-26 09:21:34,585 - kedro.io.data_catalog - INFO - Loading data from `master_table` (ParquetDataSet)...

In [12]:
JOIN_COLS = ["data_alvo", "data_inferior"]

In [13]:
mt = mt.reset_index()

In [14]:
assert mt.shape[0] == mt[JOIN_COLS].drop_duplicates().shape[0], \
    "MT duplicada, revisar"

AssertionError: MT duplicada, revisar

In [16]:
dupl_df = mt[mt.duplicated(subset=JOIN_COLS)]

In [17]:
mt[(mt["data_alvo"].isin(dupl_df["data_alvo"])) & (mt["data_inferior"].isin(dupl_df["data_inferior"]))]

/Users/gpalazzo/anaconda3/envs/mba/lib/python3.10/site-packages/pandas/core/algorithms.py:522: DeprecationWarning: np.find_common_type is deprecated.  Please use `np.result_type` or `np.promote_types`.
See https://numpy.org/devdocs/release/1.25.0-notes.html and the docs for more information.  (Deprecated NumPy 1.25)
  common = np.find_common_type([values.dtype, comps_array.dtype], [])

,data_alvo,data_inferior,id_cliente,label,tempo_medio_dias_compras,potencial_do_cliente__pan,linha_credito__recurso_proprio,valor_total_compras,dif_dias_ultima_compra,potencial_do_cliente__a,...,linha_credito__moderfrota,linha_credito__pronaf,linha_credito__pronamp,linha_credito__consorcio,potencial_do_cliente__b,potencial_do_cliente__c,linha_credito__pro_implemento,linha_credito__pro_trator,linha_credito__banco_john_deere,area_ha_somadas
27,2021-06-25,2020-12-27,19073,1,0.0,1.0,0.0,168000.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
36,2021-06-25,2020-12-27,3779,0,12.0,0.0,0.0,1050000.0,71,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,980.0
40,2018-07-13,2018-01-14,30692,0,0.0,0.0,0.0,95000.0,71,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,45.0
42,2018-07-13,2018-01-14,32769,0,0.0,0.0,0.0,170000.0,71,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,13.0
43,2018-07-13,2018-01-14,5073,0,0.0,0.0,0.0,97000.0,71,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0