In [1]:
%reload_kedro

2023-07-22 15:39:58,052 - kedro.extras.extensions.ipython - INFO - No path argument was provided. Using: /Users/gpalazzo/Desktop/dev/mba_Otavio
2023-07-22 15:39:58,353 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2023-07-22 15:39:58,460 - kedro.extras.extensions.ipython - INFO - ** Kedro project itaete_buy_prop
2023-07-22 15:39:58,461 - kedro.extras.extensions.ipython - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`
2023-07-22 15:39:58,471 - kedro.extras.extensions.ipython - INFO - Registered line magic `run_viz`

In [2]:
spine = catalog.load("label_spine")

2023-07-22 15:40:11,800 - kedro.io.data_catalog - INFO - Loading data from `label_spine` (ParquetDataSet)...

In [3]:
spine

     id_cliente data_faturamento_nova data_inferior data_superior       label
0           135            2017-10-25    2015-10-26    2018-10-25      compra
333        2082            2021-12-02    2019-12-03    2022-12-02      compra
334        2082            2020-07-13    2018-07-14    2021-07-13      compra
335        2082            2020-07-13    2018-07-14    2021-07-13      compra
336        2082            2022-06-15    2020-06-15    2023-06-15      compra
..          ...                   ...           ...           ...         ...
328        6062            2015-10-30    2013-10-30    2016-10-29  nao_compra
329        6062            2015-10-30    2013-10-30    2016-10-29  nao_compra
330          53            2015-07-22    2013-07-22    2016-07-21  nao_compra
331        8336            2014-07-10    2012-07-10    2015-07-10  nao_compra
332        7300            2019-07-09    2017-07-09    2020-07-08  nao_compra

[765 rows x 5 columns]