In [1]:
%reload_kedro

2023-07-22 15:51:25,190 - kedro.extras.extensions.ipython - INFO - No path argument was provided. Using: /Users/gpalazzo/Desktop/dev/mba_Otavio
2023-07-22 15:51:25,492 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2023-07-22 15:51:25,608 - kedro.extras.extensions.ipython - INFO - ** Kedro project itaete_buy_prop
2023-07-22 15:51:25,610 - kedro.extras.extensions.ipython - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`
2023-07-22 15:51:25,620 - kedro.extras.extensions.ipython - INFO - Registered line magic `run_viz`

In [2]:
df = catalog.load("prm_analise_fin")

2023-07-22 15:51:35,150 - kedro.io.data_catalog - INFO - Loading data from `prm_analise_fin` (ParquetDataSet)...

In [3]:
df

,id_cliente,potencial_do_cliente,linha_credito,valor_total,ref_date
0,2082,a,recurso_proprio,21500.0,2021-12-02
1,2082,a,recurso_proprio,50000.0,2020-07-13
2,2082,a,recurso_proprio,50000.0,2020-07-13
3,2082,a,moderfrota,1910000.0,2023-05-05
4,2082,a,finame,1634442.0,2022-06-15
...,...,...,...,...,...
1534,6062,pan,None,87500.0,2015-08-21
1540,15812,c,moderfrota,105000.0,2016-11-10
1549,53,c,None,102000.0,2015-05-13
1582,8336,c,None,929468.0,2014-05-01
1593,7300,None,pronaf,145000.0,2019-04-30